.c-primary {
  color: #80CBC4 !important;
}
.bc-primary {
  background-color: #80CBC4 !important;
}
.btn-primary {
  color: white !important;
  background-color: #80CBC4 !important;
}

.c-secondary  {
  color: #FB8C00 !important;
}
.bc-secondary {
  background-color: #FB8C00 !important;
}
.btn-secondary {
  color: white !important;
  background-color: #FB8C00 !important;
}

.c-accent {
  color: #B39DDB !important;
}
.bc-accent {
  background-color: #B39DDB !important;
}
.btn-accent {
  color: white !important;
  background-color: #B39DDB !important;
}

.c-info {
  color: #2196F3 !important;
}
.bc-info {
  background-color: #2196F3 !important;
}
.btn-info {
  color: white !important;
  background-color: #2196F3 !important;
}

.c-error {
  color: #FF5252 !important;
}
.bc-error {
  background-color: #FF5252 !important;
}
.btn-error {
  color: white !important;
  background-color: #FF5252 !important;
}

.c-success {
  color: #4CAF50 !important;
}
.bc-success {
  background-color: #4CAF50 !important;
}
.btn-success {
  color: white !important;
  background-color: #4CAF50 !important;
}

.c-warning {
  color: #FFC107 !important;
}
.bc-warning {
  background-color: #FFC107 !important;
}
.btn-warning {
  color: white !important;
  background-color: #FFC107 !important;
}


/* 组件默认样式 */
.container {
  background-color: #fff;
}
.v-btn {
  text-transform: none;
}